.col-md-2 p{
    font-size: 11px;
    color: gray;
}
.col-md-2 a{
    text-decoration: none;
    color: gray;
    

}
.col-md-2 a:hover{
    text-decoration: underline;
    color: black;
}
.d-flex{
    font-size: 11px;
}
.d-flex a{
    text-decoration: none;
    color: gray;
}
.d-flex a:hover{
    text-decoration: underline;
    color: black;
}
#foot{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0.5%;
}