<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
   
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
  
<!--Column 1-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="fw-bold mb-4">
              What's new
            </h6>
            <p>
              <a href="#!" class="text-reset">Microsoft 365</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Windows 11 apps</a>
            </p>
          </div>

<!--Column 2-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-capitalize fw-bold mb-4">
              Microsoft Store
            </h6>
            <p>
              <a href="#!" class="text-reset">Account profile</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Download Center</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Returns</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Order tracking</a>
            </p>
          </div>

<!--Column 3-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-capitalize fw-bold mb-4">
              Business
            </h6>
            <p>
              <a href="#!" class="text-reset">Microsoft in education</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Devices for education</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Teams for Education</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft 365 Education</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Office Education</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Educator training and development</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Deals for students and parents</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Azure for students</a>
            </p>
          </div>

<!--Column 4-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-capitalize fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Microsoft Cloud</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Security
              </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Azure</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Dynamics 365</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft 365</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Advertising</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Industry</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Teams</a>
            </p>
          </div>

<!--Column 5-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-capitalize fw-bold mb-4">
              Developer & IT
            </h6>
            <p>
              <a href="#!" class="text-reset">Developer Center</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Documentation</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Learn</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Tech Community</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Azure Marketplace</a>
            </p>
            <p>
              <a href="#!" class="text-reset">AppSource</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Microsoft Power Platform</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Visual Studio</a>
            </p>
          </div>

<!--Column 6-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-capitalize fw-bold mb-4">
              Company
            </h6>
            <p>
              <a href="#!" class="text-reset">Careers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Company news</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Privacy at Microsoft</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Investors</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sustainability</a>
            </p>
          </div>
  
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
     <!-- Copyright -->

     <div class="d-flex bd-highlight" id="foot">
      <div class="p-2 flex-grow-1 bd-highlight"><a href="#">English (Philippines)</a></div>
      <div class="p-2 bd-highlight"><a href="#">Contact Microsoft</a></div>
      <div class="p-2 bd-highlight"><a href="#">Privacy</a></div>
      <div class="p-2 bd-highlight"><a href="#">Terms of use</a></div>
      <div class="p-2 bd-highlight"><a href="#">Trademarks</a></div>
      <div class="p-2 bd-highlight"><a href="#">About our ads</a></div>
      <div class="p-2 bd-highlight"><a href="#">© Microsoft 2022</a></div>
    </div>

  <!-- Copyright -->
  </footer>
  <!-- Footer -->
